[submodule "robosuite"]
	path = robosuite
	url = git@github.com:BerkeleyAutomation/mirage-robosuite.git
[submodule "mimicgen_environments"]
	path = mimicgen_environments
	url = git@github.com:BerkeleyAutomation/mirage_mimicgen_environments.git
[submodule "robomimic-mirage"]
	path = robomimic-mirage
	url = git@github.com:daringtrifles/robomimic-mirage.git
